In [ ]:
import pandas as pd
import numpy as np

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [12]:
display(train.head())
display(test.head())
train["age"].mean()
test["age"].mean()

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,0,56,1,5882,0,38,0,185315.0104,0.844417,134,1,0,10,1
1,3,50,0,1767,1,35,0,371620.3666,0.837448,136,0,0,187,1
2,7,41,0,250,1,30,0,372810.2084,0.819996,139,1,0,29,1
3,11,47,0,582,1,20,0,185780.6482,0.870314,137,0,0,43,0
4,12,60,0,80,0,25,0,265096.3999,0.828112,136,1,0,213,0

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1,67,1,56,0,60,0,255844.0310,0.824480,140,0,0,147
1,2,58,0,320,0,38,0,163434.8513,5.281481,134,0,0,207
2,4,67,1,737,0,60,0,255278.8436,0.841388,140,0,0,113
3,5,48,0,231,1,60,0,500149.7955,0.742807,139,1,1,215
4,6,59,0,320,0,35,0,245489.2530,1.082861,132,1,0,215

57.632

In [13]:
test_shape = test.shape
train_shape = train.shape
 
print(test_shape)
print(train_shape)

(1000, 13)
(1000, 14)

In [14]:
display(train.info())
display(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1000 non-null   int64
 1   age                       1000 non-null   int64
 2   anaemia                   1000 non-null   int64
 3   creatinine_phosphokinase  1000 non-null   int64
 4   diabetes                  1000 non-null   int64
 5   ejection_fraction         1000 non-null   int64
 6   high_blood_pressure       1000 non-null   int64
 7   platelets                 1000 non-null   float64
 8   serum_creatinine          1000 non-null   float64
 9   serum_sodium              1000 non-null   int64
 10  sex                       1000 non-null   int64
 11  smoking                   1000 non-null   int64
 12  time                      1000 non-null   int64
 13  target                    1000 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 109.5 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1000 non-null   int64
 1   age                       1000 non-null   int64
 2   anaemia                   1000 non-null   int64
 3   creatinine_phosphokinase  1000 non-null   int64
 4   diabetes                  1000 non-null   int64
 5   ejection_fraction         1000 non-null   int64
 6   high_blood_pressure       1000 non-null   int64
 7   platelets                 1000 non-null   float64
 8   serum_creatinine          1000 non-null   float64
 9   serum_sodium              1000 non-null   int64
 10  sex                       1000 non-null   int64
 11  smoking                   1000 non-null   int64
 12  time                      1000 non-null   int64
dtypes: float64(2), int64(11)
memory usage: 101.7 KB

None

In [15]:
display(train.describe())
display(test.describe())

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,999.734000,57.632000,0.41600,605.359000,0.270000,36.691000,0.237000,278330.242337,1.030258,136.841000,0.755000,0.25600,149.560000,0.198000
std,578.002214,9.875328,0.49314,971.937382,0.444182,11.037089,0.425455,79543.675235,0.704616,3.405777,0.430302,0.43664,77.381072,0.398692
min,0.000000,39.000000,0.00000,23.000000,0.000000,14.000000,0.000000,138173.134500,0.629178,116.000000,0.000000,0.00000,4.000000,0.000000
25%,496.750000,50.000000,0.00000,93.000000,0.000000,30.000000,0.000000,256629.434900,0.798218,135.000000,1.000000,0.00000,84.500000,0.000000
50%,1007.500000,58.000000,0.00000,255.000000,0.000000,35.000000,0.000000,267025.054700,0.844389,136.500000,1.000000,0.00000,185.000000,0.000000
75%,1512.250000,61.000000,1.00000,582.000000,1.000000,40.000000,0.000000,279943.418975,0.956294,139.000000,1.000000,1.00000,213.000000,0.000000
max,1998.000000,85.000000,1.00000,7861.000000,1.000000,70.000000,1.000000,824131.916700,8.994597,146.000000,1.000000,1.00000,285.000000,1.000000

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
count,1000.00000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,999.26600,58.221000,0.38200,576.722000,0.288000,37.195000,0.245000,277448.502756,1.029092,136.851000,0.756000,0.266000,144.869000
std,577.27564,10.157132,0.48612,908.726074,0.453058,11.479318,0.430302,85625.028062,0.688246,3.651045,0.429708,0.442085,78.195271
min,1.00000,40.000000,0.00000,23.000000,0.000000,17.000000,0.000000,117373.947400,0.627076,116.000000,0.000000,0.000000,7.000000
25%,504.50000,50.000000,0.00000,84.000000,0.000000,25.000000,0.000000,255598.445400,0.793282,136.000000,1.000000,0.000000,79.750000
50%,995.50000,58.000000,0.00000,231.000000,0.000000,35.000000,0.000000,267212.471150,0.839786,136.000000,1.000000,0.000000,172.000000
75%,1487.75000,66.000000,1.00000,582.000000,1.000000,45.000000,0.000000,279969.260275,0.948659,140.000000,1.000000,1.000000,213.000000
max,1999.00000,84.000000,1.00000,7861.000000,1.000000,60.000000,1.000000,859856.405100,9.189842,148.000000,1.000000,1.000000,285.000000

In [16]:
def kesson_table(df): 
        null_val = df.isnull().sum()
        percent = 100 * df.isnull().sum()/len(df)
        kesson_table = pd.concat([null_val, percent], axis=1)
        kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
        return kesson_table_ren_columns
 
display(kesson_table(train))
display(kesson_table(test))

                          欠損数    %
id                          0  0.0
age                         0  0.0
anaemia                     0  0.0
creatinine_phosphokinase    0  0.0
diabetes                    0  0.0
ejection_fraction           0  0.0
high_blood_pressure         0  0.0
platelets                   0  0.0
serum_creatinine            0  0.0
serum_sodium                0  0.0
sex                         0  0.0
smoking                     0  0.0
time                        0  0.0
target                      0  0.0

                          欠損数    %
id                          0  0.0
age                         0  0.0
anaemia                     0  0.0
creatinine_phosphokinase    0  0.0
diabetes                    0  0.0
ejection_fraction           0  0.0
high_blood_pressure         0  0.0
platelets                   0  0.0
serum_creatinine            0  0.0
serum_sodium                0  0.0
sex                         0  0.0
smoking                     0  0.0
time                        0  0.0

In [17]:
train.corr().style.background_gradient(axis=None)

In [18]:
# scikit-learnのインポートをします
from sklearn import tree

In [19]:
# 「train」の目的変数と説明変数の値を取得
target = train["target"].values
features_one = train[["age","anaemia","creatinine_phosphokinase","diabetes","ejection_fraction","high_blood_pressure","platelets","serum_creatinine","serum_sodium",	"sex",	"smoking",	"time"	]].values
 
# 決定木の作成
my_tree_one = tree.DecisionTreeClassifier()
result = my_tree_one
my_tree_one = my_tree_one.fit(features_one, target)

 
# 「test」の説明変数の値を取得
test_features = test[["age","anaemia","creatinine_phosphokinase","diabetes","ejection_fraction","high_blood_pressure","platelets","serum_creatinine","serum_sodium",	"sex",	"smoking",	"time"]].values
 
# 「test」の説明変数を使って「my_tree_one」のモデルで予測
my_prediction = my_tree_one.predict(test_features)
result.score(features_one,target)

1.0

In [21]:
# PassengerIdを取得
index = np.array(test["id"]).astype(int)
 
# my_prediction(予測データ）とPassengerIdをデータフレームへ落とし込む
my_solution = pd.DataFrame({'id': index, 'target': my_prediction})
# my_tree_one.csvとして書き出し
my_solution.to_csv("my_tree_one.csv",header=False,index=False)